@model DiplomenProektNo7.Models.Order.OrderConfirmVM

@{
    ViewData["Title"] = "Confirm";
}
<style>
    body {
        background: linear-gradient(to right, #f5a5b8, #c4d4e8);
    }
</style>
<h1>Order</h1>
<form asp-controller="Order" asp-action="Create" method="post">
   
    <div>
        <hr />
        <dl class="row">
            @*<dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UserId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ShoeId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ShoeId)
                </dd>*@
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ShoeName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ShoeName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Picture)
            </dt>
            <dd class="col-sm-10">
                <img src="@Html.DisplayFor(model => model.Picture)" alt="Image" width="100" />
                @*@Html.DisplayFor(model => model.Picture)*@
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Discount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Discount)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TotalPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TotalPrice)
            </dd>
        </dl>
    </div>
    <div class="form-group">
        <input type="submit" value="Confirm" class="btn btn-primary" />
    </div>
    <input type="hidden" asp-for="ShoeId" value="@Model.ShoeId">
    <input type="hidden" asp-for="Quantity" value="@Model.Quantity">
    <input type="hidden" asp-for="UserId" value="@Model.UserId">
    <input type="hidden" asp-for="Price" value="@Model.Price">
    <input type="hidden" asp-for="Discount" value="@Model.Discount">
</form>
<div>
    <a asp-controller="Shoe" asp-action="Index">Back to list</a>
</div>
