@if (TempData["MessageSent"] != null)
{
    <div class="alert">@TempData["MessageSent"]</div>
}

<div class="contact-info">
    <h3>Contact Information</h3>
    <p><i class="fa fa-phone"></i> Telephone: 0876345826</p>
    <p><i class="fa fa-envelope"></i> Email: d.aleksandrov2018@pmg-pernik.com</p>
</div>

<div style="text-align: center;">
    <form method="post" style="display: inline-block;">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="firstName" value="@Model.FirstName" required style="width: 500px;">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="lastName" value="@Model.LastName" required style="width: 500px;">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" value="@Model.Email" required style="width: 500px;">
        </div>
        <div class="form-group">
            <label for="comment">Comment</label>
            <textarea class="form-control" name="comment" id="comment" required style="width: 500px; height: 150px;">@Model.Comment</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>


        <style>
    .contact-info {
        border: 2px solid #ddd;
        padding: 20px;
        text-align: center;
        background-color: white;
        border-radius: 10px;
    }

        .contact-info h3 {
            font-size: 24px;
            margin-bottom: 20px;
            color: #333;
            text-transform: uppercase;
        }

        .contact-info p {
            font-size: 16px;
            margin-bottom: 10px;
            color: #666;
            line-height: 1.5;
        }

        .contact-info i {
            font-size: 18px;
            margin-right: 10px;
            color: #333;
        }

        .contact-info a {
            color: #333;
            text-decoration: none;
        }

            .contact-info a:hover {
                color: #555;
            }
        </style>