@model IEnumerable<DiplomenProektNo7.Models.Message.MessageIndexVm>

@{
    ViewData["Title"] = "Message List";
}

<h1>@ViewData["Title"]</h1>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in Model)
            {           
                <tr>
                    <td>@message.FirstName</td>
                    <td>@message.LastName</td>
                    <td>@message.Email</td>
                    <td>@message.Comment</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No messages found.</p>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
